body{
  text-align: center;
  background-image: linear-gradient(black, white);
}

h1 {
  color: #d8bfd8;
  font-size: 55px;
  font-family: Cambria, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
  color: #90ee90;
  font-size: 40px;
  font-family: Cambria, Georgia, serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

img {
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-filter: brightness(80%);
}

.fixed-nav-bar {
  background-color: black;
}

li {
  color: white;
}

#menu li {
  list-style-type: none;
}
