body {
  text-align: center;
  background-image: linear-gradient(black, black, grey, white);
}

h1 {
  color: #3cb371;
  font-family: Cambria, Georgia, serif;
	font-weight: bolder;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding-bottom: 40px;
  padding-top: 20px;
}

h2 {
  color: #90ee90;
  font-size: 40px;
  font-family: fantasy;
	font-style: normal;
	font-variant-east-asian: normal;;
	font-weight: 500;
	line-height: 26.4px;
}

li {
  color: white;
}

.self {
  color: white;
  margin-top: 4em;
  margin-bottom: 4em;
}

.self-title {
  font-size: 50px;
  color: white;
  margin-top: 1em;
  font-family: fantasy;
}

.logo {
  margin-top: 8em;
  height: 15em;
  width: 15em;
}

.name {
  font-size: 80px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: fantasy;
}

.form {
  font-weight: bolder;
  font-style: oblique;
  color: #ffb6c1;
}
.bottom {
  color: black;
  
}
.mid-bottom {
  color: grey;
}
.skills {
  color: lightgrey;
}
